<template>
 <v-app>
    <v-main>
    <v-container>
      <v-data-table :headers="headers" :items="movies" :options.sync="options">
          <template v-slot:top>
                <v-toolbar flat
                          style="background-color: #504a4a; color: white"
                >
                  <v-toolbar-title>
                      POPULAR MOVIES
                  </v-toolbar-title>
                  
                  <v-divider
                    class="mx-4"
                    inset
                    vertical
                  ></v-divider>
                  <v-spacer></v-spacer>
                  <new-movie></new-movie>
              </v-toolbar>
          </template>
        <template v-slot:[`item.actions`]="{ item }">
          <v-btn @click.stop="idDelete = item.id">Delete</v-btn>
          <v-btn @click.stop="idDetail = item.id">Details</v-btn>
          <v-btn @click.stop="idEdit = item.id">Edit</v-btn>
        </template>
      </v-data-table>
      <delete-movie v-model="idDelete"></delete-movie>
      <details-movie v-model="idDetail"></details-movie>
      <edit-movie v-model="idEdit"></edit-movie>
    </v-container>
    </v-main>
  </v-app>
</template>

<script>
  import {mapState} from 'vuex';
  import DeleteMovie from './components/DeleteMovie.vue';
import DetailsMovie from './components/DetailsMovie.vue';
import EditMovie from './components/EditMovie.vue';
import NewMovie from './components/NewMovie.vue';
  export default {
    name: 'App',
    components: {DeleteMovie, NewMovie, DetailsMovie, EditMovie },
      data ()
      {
        return {
          idDelete: null,  
          idDetail: null,   
          idEdit: null,     
          options: {},
        }
      },
    computed: {
      headers() {
        return [
          {text: "Title", value: "title"},
          {text: "Overview", value: "overview"},
          {text: "Votes", value:"vote_average"},
          {text: 'Actions', value: 'actions', sortable: false },
          {text: '', value: 'details'},
          ]
      },
      ...mapState({
            movies:state => state.movies
    }),
    },
    watch: {
    options: {
        handler () {
          this.$store.dispatch('getMovies')
        },
        deep: true,
      }
    },
   
  }
</script>

