<template>
    <v-dialog v-model="show">
    <v-card style="height: unset">
       <v-card-title class="headline">Are you sure you want to delete this item?</v-card-title>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="blue darken-1" text @click="show = false">Cancel</v-btn>
              <v-btn color="blue darken-1" text @click="deleteMovie()">OK</v-btn>
              <v-spacer></v-spacer>
            </v-card-actions>
    </v-card>
  </v-dialog>
</template>
<script>
import {mapState} from 'vuex';
 export default {
    data() {
        return {
          id: null,
        }
    },
  props: ['value'],
  computed: {
  	show: { 
      get() { return this.value !== null },
      set(value) { this.$emit('input', null) }

    }
  },
  watch: {
    value(newValue) {
      if (!newValue) return;
      this.id = this.value;
    }
  },
   methods: {
      deleteMovie() {
        this.$store.dispatch('deleteM', this.id);
        this.show = false;
      }
    }
}
</script>