<template>
    <v-dialog v-model="show">
    <v-card style="height: unset">
      
       <v-card-title> {{movie.title}}</v-card-title>
       <v-card-text>
           <v-row>
               <v-col
                    cols="6"
                    sm="6"
                    md="4"
                >
                Votes: {{movie.vote_average}}
                <br>
                Overview: {{movie.overview}}
                <br>
                Released: {{movie.release_date}}
                <v-btn color="blue darken-1" text @click="show = false">Close</v-btn>
               </v-col>
               <v-col
                    cols="12"
                    sm="6"
                    md="4"
                >
                <v-img :src="this.preUrl + movie.poster_path"></v-img>
               </v-col>
           </v-row>
       </v-card-text>
    </v-card>
  </v-dialog>
</template>
<script>
import { mapState } from 'vuex'

export default {
    data() {
        return {
          id: null,
          preUrl: 'https://image.tmdb.org/t/p/w500',
        }
    },
  props: ['value'],
  computed: {
  	show: { 
      get() { return this.value !== null },
      set(value) { this.$emit('input', null) }
    },
    ...mapState(['movies']),
    movie(){
        return this.movies.find(item => item.id == this.id) || [];
    
    }
  },
  watch: {
    value(newValue) {
      if (!newValue) return;
      this.id = this.value;
      
    }
  },
   methods: {
      
    }
}
</script>
