<template>
    <v-dialog v-model="editdialog">
    <v-card style="height: unset">
       <v-card-title class="headline">Edit Movie: {{movie.title}}</v-card-title>
            <v-card-text>
                <v-text-field label="Movie Title" v-model="movie.title"></v-text-field>
                <v-text-field label="Movie Overview" v-model="movie.overview"></v-text-field>
                <v-text-field label="Movie Votes" v-model="movie.vote_average"></v-text-field>
                <v-text-field label="Movie Title" v-model="movie.title"></v-text-field>
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="blue darken-1" text @click="editdialog = false">Cancel</v-btn>
              <v-btn color="blue darken-1" text @click="editdialog = false">OK</v-btn>
              <v-spacer></v-spacer>
            </v-card-actions>
    </v-card>
  </v-dialog>
</template>
<script>
import {mapState} from 'vuex';
 export default {
    data() {
        return {
          id: null,
        }
    },
  props: ['value'],
  computed: {
  	editdialog: { 
      get() { return this.value !== null },
      set(value) { this.$emit('input', null) }

    },
    ...mapState(['movies']),
    movie(){
       
            return this.movies.find(item => item.id == this.id) || []
        
    }
  },
  watch: {
    value(newValue) {
      if (!newValue) return;
      this.id = this.value;
    }
  },

}
</script>