<template>
    <div class="text-center">
        <v-dialog
            v-model="dialog"
            width="500"
            >
            <template v-slot:activator="{ on, attrs }">
                <v-btn
                    color="primary"
                    dark
                    v-bind="attrs"
                    v-on="on"
                >
                New Movie
                </v-btn>
            </template>
            <v-card>
                <v-card-title class="headline grey lighten-2">
                    New Movie
                </v-card-title>
                <v-card-text>
                    <v-container>
                        <v-row>
                             <v-col
                                cols="12"
                                sm="6"
                                md="4"
                            >
                                <v-text-field
                                label="Movie ID"
                                v-model="newMovie.id"
                                ></v-text-field>
                            </v-col>
                            <v-col
                                cols="12"
                                sm="6"
                                md="4"
                            >
                                <v-text-field
                                label="Movie Title"
                                v-model="newMovie.title"
                                ></v-text-field>
                            </v-col>
                            <v-col
                                cols="12"
                                sm="6"
                                md="4"
                            >
                                <v-text-field
                                    label="Movie Overview"
                                    v-model="newMovie.overview"
                                ></v-text-field>
                            </v-col>
                            <v-col
                                cols="12"
                                sm="6"
                                md="4"
                            >
                                <v-text-field
                                    label="Average Vote"
                                    v-model="newMovie.vote_average"
                                ></v-text-field>
                            </v-col>
                            <v-col
                                cols="12"
                                sm="6"
                                md="4"
                            >
                                <v-text-field
                                    label="Release Date"
                                    v-model="newMovie.released_date"
                                ></v-text-field>
                            </v-col>
                            <v-col
                                cols="12"
                                sm="6"
                                md="4"
                            >
                            </v-col> 
                        </v-row>
                    </v-container>
                </v-card-text>
                <v-divider></v-divider>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn
                        color="red darken-1"
                        text
                        @click="dialog = false"
                    >
                        Cancel
                    </v-btn>
                    <v-btn
                        color="red darken-1"
                        text
                        @click="save()"
                    >
                        Save
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </div>
</template>
<script lang="ts">
export default 
  {
      data() {
          return {
              newMovie: {
                  id: '',
                  title: '',
                  overview: '',
                  vote_average: '',
                  released_date: '',
              },
              dialog: false
          }
      },

      methods: {
          save() {
              this.$store.dispatch('addMovie', this.newMovie);
              this.dialog = false;
          }
      }
        
    }
</script>
